@model ManagementApp.Models.EntityFramework.Department
@{
    ViewBag.Title = "DepartmentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()
<br />
<h2>Department Form</h2>
<div id="Msg"></div>
@using (Ajax.BeginForm("Save", "Department", new AjaxOptions { HttpMethod="POST",UpdateTargetId="Msg"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmentName)
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.DepartmentName)
    </div>
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

